body {
    font-family: 'Lato', sans-serif;
}

.menu-text {
    color: red;
}


.nav-link i {
    font-size: 24px;
    color: white;
    display: block;
}


.nav-link.active {
    background-color: white;
    color: red !important;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 85px;
    height: 100%;
    padding: 0;
}

.sidebar-logo {
    text-align: center;
    padding: 0;
}

.nav-link {
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    font-size: 14px;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.nav-link a:hover {
    color: inherit;
}

.act {
    color: #b6b7b9 !important;
}

.pas {
    color: #ff0000 !important;
}

.content-wrapper {
    margin-left: 95px;
    padding-top: 20px;
}

.top-section {
    display: flex;
    align-items: center;
}

.menu-icon {
    color: #ff0000;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-name {
    font-size: 18px;
    color: black;
    margin-left: 25px;
}


.left-navigation {
    width: 125px;
    background-color: white;
    color: #ff0000;
    padding: 0;
}

.left-navigation ul {
    list-style-type: none;
    padding: 0;
}

.left-navigation ul li {
    margin: 0;
    padding-top: 15px;
}

.left-navigation ul li a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding-left: 10px;
    display: block;
}

.left-navigation ul li.selected a {
    color: black !important;
    border-left: 2px solid black;
    padding-left: 8px;
}


.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #f8f9fa; /* Color for odd-numbered rows */
}
.custom-table tbody tr:nth-child(even) {
    background-color: white; /* Color for even-numbered rows */
}

.custom-table input[type="number"] {
    text-align: center;
}


.right-content {
    margin-left: 100px;
}

.icon-style {
    font-size: 30px;
}

@media (max-width: 1300px) {
    .left-navigation {
        display: none;
    }

    .right-content {
        margin-left: 0;
    }

    .sidebar {
        display: none;
    }
}
